{
    "indent": ["error", 2],
    "quotes": ["error", "double", { "avoidEscape": true }],
    "keyword-spacing": ["error", { "before": true }],
    "space-before-function-paren": ["error", "always"],
    "eqeqeq": ["error", "always"],
    "space-infix-ops": "error",
    "comma-spacing": ["error", { "after": true }],
    "brace-style": "error" 
}